/* Variables de couleurs */

:root {
    --btn:#1a3c92;
    --btn-hover:#2657d2 ;
    --btn-active: #5680e7;
    --btn-transparent: rgba(38,87,210, 0.1);
    --btn-dl:#1a3c92;
    --btn-dl-hover:#2657d2 ;
    --btn-dl-active: #5680e7;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 1rem;
    margin:5px 0;
    gap: 8px;

    background-color: var(--btn);
    border-radius: 5px;
    color:white;
    outline:none;
    cursor:pointer;
    font-size:1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    border:none;
    transition : background-color 0.3s ease;

}

/* Boutons classiques */

.button-classic {
    background-color: var(--btn);
    color:white;
}

.button-classic:hover {
    background-color: var(--btn-hover);
}

.button-classic:active {
    background-color:var(--btn-active);
}

/* Boutons de téléchargement */

.button-download {
    background-color: var(--btn-dl);
    color:white;
}

.button-download:hover {
    background-color: var(--btn-dl-hover);
}

.button-download:active {
    background-color:var(--btn-dl-active);
}

.button-matricule {
    background-color: transparent;
    border: var(--btn-hover) 2px solid;
    color:var(--btn);
    border-radius: 20px;
}

.button-matricule:hover {
    background-color:var(--btn-transparent);
}

.button-matricule-storage {
    background-color: transparent;
    border: none;
    color:black;
    padding:10px;
    margin:0;
    cursor:pointer;
}

.button-matricule-storage:disabled {
    color:lightgray;
    cursor:default;
}