

* {
    margin:0;
    padding:0;
}

body {
    font-family: "Poppins", sans-serif;
    background-color:#fff!important;
    overflow-x: hidden;
}
nav {
    background-color:#1a3c92;
    position:sticky;
    top:0;
    display:block;
    padding:10px;
    width:100%;
    z-index:999;
    box-shadow:1px 15px 20px rgba(26,60,146,0.3);
}

.menu-container {

    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width:1200px;
    margin-inline:auto;
}

.logo {
    display:block;
    width:100px;
}

.logo img {
    width:100%;
    align-items: center;
    filter: invert(100%);
}

#text-logo{
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}

.menu-listing{
    display: flex;
    align-items:center;
    list-style: none;

}

.menu-listing a {
    text-decoration: none;
    color:#FFF;
    padding : 10px 20px;
}

.mobile-menu{
    width:100%;
    position:sticky;
    top:0;
    height:80px;
    background:#FFF;
    z-index:9999;
    padding-inline:20px;
    box-sizing: border-box;
    align-items: center;
    box-shadow:1px 1px 25px rgba(0,0,0,0.07);
    display:none;
}

#alert-container {
    display:none;
    flex-direction: column;
    line-height: 2rem;
    font-size:1rem;
    margin:10px 15%;
    padding: 8px 24px;
    color: #2a63d9;
    text-align: center;
    background-color: #e7efff;
    border-radius:5px;
    border: 1px solid #3a2f75;
}

footer {
    margin-top:50px;
    display:none;
    flex-direction: column;
    width:100%;
    height:auto;
    bottom:0;
    left:0;
    background-color: #1a3c92;
    box-shadow:1px -15px 20px rgba(26,60,146,0.3);
}

footer p {
    color:#FFF;
    font-size:1.2rem;
    text-align:center;
    margin: 20px 20px 25px;
}

footer a {
    color : red;
    text-decoration: none;
}

::placeholder {
    color: #999; 
    font-style: italic; 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0;
}
#about-container  section:nth-child(even), #howtouse-container section:nth-child(even){
    background: #e7ecef;
}
#about-container  section:nth-child(odd), #howtouse-container  section:nth-child(odd){
    background: #caf0f8;
}
.about, .howtouse {
    padding : 80px 25%;
}
.about h1,.howtouse h1  {
    border-bottom: #1a3c92 solid 1px;
}
.about p, .howtouse p{
    padding:20px 0;
    font-size: 1.3rem;
    text-align:justify;
}

#consigne-saisie-matricule {
    text-align:center;
    justify-content:center;
}

#matriculeInputSpan {
    display: flex;
    justify-content: center;
    align-items: center;
    width:auto;
    margin:0 25%;

}

#addMatricule {
    font-size: 2rem;
    border: none;
    background:#fff;
    padding-left:10px;
    cursor:pointer;
}

abbr {
    text-decoration: none;
}

#calendar-section, #download-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

input[type="color"] {
    display:none;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border:none;
    height:1.5rem;
    width:1.3rem;
    cursor:pointer;
    background-color: transparent;
}

input[type="color"]::-webkit-color-swatch {
    border-radius:8px;
    border:none;
}

.combination-divider {
    border-bottom: #1a3c92 solid 1px;
    padding:30px 0;
}
#solo-mode-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#saved-matricule-container {
    display: inline-flex;
    justify-content: center;
}

@media only screen and (max-width:810px){
    nav {
        transform:translateX(-100%);
        transition : .2s ease;
    }
    .mobile-menu{
        display:flex;
    }
    .menu-container {
        width:100%;
        height:0vh;
        flex-direction:column;
        justify-content:center;
    }
    .menu-listing {
        flex-direction:column;
    }
    .menu-listing a {
        box-sizing:border-box;
        display:block;
        font-size:1.5rem;
    }
    .logo{
        width:80px;
        margin-bottom:20px;
    }

    .about, .howtouse  {
        padding:80px 10%
    }
    .about p, .howtouse p{
        font-size:1.15rem;
    }
    #alert-container {
        margin:10px 5%;
    }
    .button-download {
        max-width: 80%;
    }
}