#divEventsContainer{
    display:flex;
    justify-content: center;
    margin-top:20px;

}

#addCalendar h1 {
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
}

.content-table {
    border-collapse: collapse;
    margin: 25px auto;
    font-size: 0.9em;
    width:auto;
    max-width: 95vw;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

}

.content-table thead tr {

    background-color: #1a3c92;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align:center;
}

.content-table tbody tr {

    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1a3c92;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #1a3c92;
    font-size:1.1em;
}

tr.outOfDate {
    color: #6c8bd5;
    font-style:italic;
    font-size:0.9em;
}
